FiverxLinkSecurityTestClient/Service References/ZertifikatService/ZertifikatService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZertifikatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.50.158:93/ZertifikatService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.50.158:93/ZertifikatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.50.158:93/ZertifikatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArsZertifikatService.Contracts" />
      <xsd:import schemaLocation="http://192.168.50.158:93/ZertifikatService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArsZertifikatService_ClientZertifikatHinzufuegen_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientZertifikatHinzufuegen" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_ClientZertifikatHinzufuegen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientZertifikatHinzufuegenResponse" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_ServerZertifikatHinzufuegen_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerZertifikatHinzufuegen" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_ServerZertifikatHinzufuegen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerZertifikatHinzufuegenResponse" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetClientZertifikat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientZertifikat" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetClientZertifikat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientZertifikatResponse" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetServerZertifikate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerZertifikate" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetServerZertifikate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerZertifikateResponse" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetSicherheitsmerkmale_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSicherheitsmerkmale" />
  </wsdl:message>
  <wsdl:message name="IArsZertifikatService_GetSicherheitsmerkmale_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSicherheitsmerkmaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IArsZertifikatService">
    <wsdl:operation name="ClientZertifikatHinzufuegen">
      <wsdl:input wsaw:Action="http://tempuri.org/IArsZertifikatService/ClientZertifikatHinzufuegen" message="tns:IArsZertifikatService_ClientZertifikatHinzufuegen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArsZertifikatService/ClientZertifikatHinzufuegenResponse" message="tns:IArsZertifikatService_ClientZertifikatHinzufuegen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServerZertifikatHinzufuegen">
      <wsdl:input wsaw:Action="http://tempuri.org/IArsZertifikatService/ServerZertifikatHinzufuegen" message="tns:IArsZertifikatService_ServerZertifikatHinzufuegen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArsZertifikatService/ServerZertifikatHinzufuegenResponse" message="tns:IArsZertifikatService_ServerZertifikatHinzufuegen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientZertifikat">
      <wsdl:input wsaw:Action="http://tempuri.org/IArsZertifikatService/GetClientZertifikat" message="tns:IArsZertifikatService_GetClientZertifikat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArsZertifikatService/GetClientZertifikatResponse" message="tns:IArsZertifikatService_GetClientZertifikat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerZertifikate">
      <wsdl:input wsaw:Action="http://tempuri.org/IArsZertifikatService/GetServerZertifikate" message="tns:IArsZertifikatService_GetServerZertifikate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArsZertifikatService/GetServerZertifikateResponse" message="tns:IArsZertifikatService_GetServerZertifikate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSicherheitsmerkmale">
      <wsdl:input wsaw:Action="http://tempuri.org/IArsZertifikatService/GetSicherheitsmerkmale" message="tns:IArsZertifikatService_GetSicherheitsmerkmale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArsZertifikatService/GetSicherheitsmerkmaleResponse" message="tns:IArsZertifikatService_GetSicherheitsmerkmale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArsZertifikatService" type="tns:IArsZertifikatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientZertifikatHinzufuegen">
      <soap:operation soapAction="http://tempuri.org/IArsZertifikatService/ClientZertifikatHinzufuegen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServerZertifikatHinzufuegen">
      <soap:operation soapAction="http://tempuri.org/IArsZertifikatService/ServerZertifikatHinzufuegen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientZertifikat">
      <soap:operation soapAction="http://tempuri.org/IArsZertifikatService/GetClientZertifikat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerZertifikate">
      <soap:operation soapAction="http://tempuri.org/IArsZertifikatService/GetServerZertifikate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSicherheitsmerkmale">
      <soap:operation soapAction="http://tempuri.org/IArsZertifikatService/GetSicherheitsmerkmale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZertifikatService">
    <wsdl:port name="BasicHttpBinding_IArsZertifikatService" binding="tns:BasicHttpBinding_IArsZertifikatService">
      <soap:address location="http://192.168.50.158:93/ZertifikatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>